<launch>
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baud" default="115200" />
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="$(arg port) _baud:=$(arg baud)" />
    <node name="owi_node" pkg="owi" type="owi_node.py" output="screen" required="true" />
</launch>