<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py $(find owi)/model/owi.xacro" /> 

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
    <rosparam param="source_list">["owi_state_report"]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find owi)/model/urdf.rviz" required="true" />

  <node name="rosserial" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyUSB0" />
    <param name="baud" value="115200" />
  </node>

  <node name="owi" pkg="owi" type="owi_node.py" output="screen"/> 
</launch>
